*{
    font-family: Candara;
}


form{
  margin-top: 80px;
}

div{
	background: rgb(255, 255, 255);
  border-radius: 20px;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	width: 350px;
	height: 300px;
	box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
  border:2px solid rgb(13, 255, 8);
  animation: intensidad 3s infinite;
}

@keyframes intensidad {
  0%{
	  box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
  }
  50%{
	  box-shadow: 0px 0px 150px -4px rgb(13, 255, 8);
  }
  0%{
	  box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
  }
}

h2{
  font-size: 30px;
	padding-top: 20px;
  animation: color 3s infinite;
}

@keyframes color {
  0%{
    color: black;
  }
  50%{
    color: rgb(13, 255, 8);
  }
  0%{
    color: black;
  }
}

.Iniciar{
  margin-top: -10px;
  border:2px solid rgb(13, 255, 8);
	background: rgb(129, 255, 127);
	border-radius: 10px;
	width: 130px;
	height: 40px;
	font-size: 22px;
}
.Iniciar:hover{
	background: rgb(13, 255, 8);
	font-size: 22px;
}

.email, .contraseña{
  padding-left: 5px;
	border-color: #E1E1E1;
	border-style: solid;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.email:hover, .contraseña:hover, .email:focus, .contraseña:focus{
	border-style: solid;
	border-radius: 5px;
	border-color:  rgb(13, 255, 8);
	outline: none;
}
