<div class="formulario bg-white rounded-2xl p-6 h-formulario mt-20 border-2 border-gray-900">
  <form action="home.html" class="inicio text-center">
    <h3 class="text-3xl mt-5 candara">Identificate</h3>
    <input type="email" name="email" id="" placeholder="Email" required class="block text-center mt-10 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-96">
    <input type="password" name="password" id="" placeholder="Password" required class="block text-center mt-10 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-96">
    <a [routerLink]="['/registro']"  class="block mt-5 mx-36 text-yellow-700 hover:text-yellow-400">Registrate</a>
    <input type="submit" name="Login" value="Vamos" class="px-10 py-2 mt-5 bg-yellow-600 hover:bg-yellow-500 text-white text-xl">
  </form>
</div>
