<div class="formulario bg-white rounded-2xl p-6 h-formulario mt-20 border-2 border-gray-900">
  <form action="home.html" class="inicio text-center">
    <h3 class="text-3xl mt-5 candara">Registrate</h3>
    <div class="block">
      <input type="text" name="nombre" placeholder="Nombre*" required class="text-center mt-10 mr-11 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-52">
      <select name="ciudades" class="text-center mt-10 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-52">
        <option value="Madrid">Madrid</option>
        <option value="Sevilla">Sevilla</option>
        <option value="Barcelona">Barcelona</option>
      </select>
    </div>
      <input type="email" name="email" id="" placeholder="Email*" required class="text-center mt-10 mr-11 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-52">
      <input type="password" name="password" id="" placeholder="Password*" required class="text-center mt-10 text-xl h-input border-2 border-yellow-400 focus:border-yellow-400 w-52">
    <input type="submit" name="Login" value="Vamos" class="px-10 py-2 mt-10 bg-yellow-600 hover:bg-yellow-500 text-white text-xl">
  </form>
</div>
