*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    font-family: Candara;
}


form{
  margin: 0 auto;
  text-align: center;
	background: white;
	text-decoration: none;
  border-radius: 20px;
	width: 450px;
	height: 400px;
	box-shadow: 0px 0px 14px -4px #000;
  box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
  border:2px solid rgb(13, 255, 8);
  animation: intensidad 3s infinite;
}

@keyframes intensidad {
0%{
  box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
}
50%{
  box-shadow: 0px 0px 150px -4px rgb(13, 255, 8);
}
0%{
  box-shadow: 0px 0px 20px -4px rgb(13, 255, 8);
}
}



h1{
  text-align: center;
	font-size: 30px;
	padding: 30px;
  animation: color 3s infinite;
}

@keyframes color {
  0%{
    color: black;
  }
  50%{
    color: rgb(13, 255, 8);
  }
  0%{
    color: black;
  }
}


.Nombre{
	width: 200px;
}

.Nombre input{
  padding-left: 5px;
	border-color: #E1E1E1;
	border-style: solid;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 160px;
	height: 35px;
	font-size: 20px;
}
.Apellido input{
  padding-left: 5px;
	border-color: #E1E1E1;
	border-style: solid;
	margin-bottom: 20px;
	border-radius: 10px;
  width: 160px;
	height: 35px;
	font-size: 20px;
}

.Correo input, .Contraseña input{
  padding-left: 5px;
	border-color: #E1E1E1;
	border-style: solid;
	margin-bottom: 20px;
	border-radius: 10px;
	width: 160px;
	height: 35px;
	font-size: 20px;
}

.Correo input:hover, .Contraseña input:hover, .Nombre input:hover, .Apellido input:hover,.Correo input:focus, .Contraseña input:focus, .Nombre input:focus, .Apellido input:focus{
	border-style: solid;
	border-radius: 5px;
	border-color:  rgb(13, 255, 8);
	outline: none;
}






div{
  text-align: left;
  margin-left: 45px;
	margin-bottom: 15px;
}

.Crear{
  margin-top: 25px;
  border:2px solid rgb(13, 255, 8);
	background: rgb(129, 255, 127);
	border-radius: 10px;
	width: 130px;
	height: 40px;
	font-size: 22px;
}

.Crear:hover{
	background: rgb(13, 255, 8);
	font-size: 22px;
}


table{
	margin: 0px auto;
}


.contenedor{
  margin: 0 auto;
}
